span.blue {
    color: SteelBlue;
}

span.black {
    color: black;
}

span.red {
    color: Firebrick;
}

.flexbox {
    display: flex;
}

.attribution {
    position:absolute;
    top:0;
    left:0;
    font-size:0.5em;
    max-width: 25%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
