span.blue {
    color: SteelBlue;
}

span.black {
    color: black;
}

span.red {
    color: Firebrick;
}

.flexbox {
    display: flex;
}

.attribution {
    position:absolute;
    bottom:0;
    right:0;
    font-size:0.5em;
    max-width: 25%;
    background: 'black';
    font-color: 'white';
    
}
