
configuration.tex
.DS_Store

scripts/lectureToOutline
*~

*.pdf
*.Rproj
*.png
*.RData
*.Rhistory
*.html
*.JPG
*.docx
*.odt
*.pdf

*.rel
*.log
*.aux
*.out
*.bbl
*.bcf
*.blg
*~
*.xml

*.DS_Store
*/*.DS_Store


syllabus/*.tex
syllabus/syllabus.md


.dropbox
bookworm/
.Rproj.user
election_data
scripts/__pycache__
.pdflist.tmp
scripts/googledocstimes.shelf
course
